:root {
    --bg-color: hsl(229, 57%, 11%);
    --bx-color: hsl(228, 56%, 26%);
    --f-color: hsl(243, 100%, 93%);
}
html {
    height: 100%;
    font-family: 'Raleway', sans-serif;
}
body {
    margin: 0;
    background-color: var(--bg-color);
    color: var(--f-color);
}
#home {
    height: 100vh;
    background-image: url('/assets/bg-desktop.svg');
    background-repeat: no-repeat;
    background-position: -3vw bottom;
    background-size: cover;
}
#home .main {
    display: flex;
    padding: 300px 228px 160px
}
#home .main .content {
    display: flex;
    background-color: var(--bx-color);
    margin-right: 8px;
    align-items: center;
}
#home .main #options.content img#logo {
    margin: 15px;
}
#home .main #options.content {
    flex-direction: column;
    height: 172px;
    width:325px;
    border-radius: 8px 90px 8px 8px;
    align-items: flex-start;
}
#home .main #options.content .icon {
    background-color: var(--bg-color);
    height: 21px;
    width: 22px;
    margin: 12px 0px 0px 13px;
    padding: 12px;
    border-radius: 8px;
}
#popup {
    height: 84px;
    width: 260px;
    border-radius: 10px;
    background: white;
    position: absolute;
    margin-left: 240px;
    margin-top: -125px;
}
#popup::after {
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    border-left: 41px solid transparent;
    border-right: 0px solid transparent;
    border-top: 29px solid white;
    bottom: -18px;
    left: 84.2%;
}
#home .main #storage.content {
    align-items: flex-start;
    font-size: small;
    margin-right: 0;
    margin-top: 32px;
    width: 525px;
    border-radius: 8px;
}
#progress {
    height: 31px;
    width: 98%;
    border-radius: 37px;
    padding: 0px 4px;
    background: var(--bg-color);
}
input[name=range] {
    -webkit-appearance: none;
    height: 22px;
    width: 99%;
    margin-top: 4px;
    border-radius: 10px;
    background: linear-gradient(90deg, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    cursor: e-resize;
    outline: none;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none; 
    height: 20px;
    width: 20px;
    border-radius: 16px;
    background: white;
    top: 2px;
}