/* DESKTOP */
@media (min-width: 900px) {
    #home .main #options.content {
        height: 172px;
        width: 325px;
    }
    #home .main #storage.content {
        width: 525px;
    }
}

/* SMARTPHONES AND TABLETS */

@media (max-width: 899px) {
    #home {
        background-image: url(/assets/bg-mobile.svg);
        background-size: cover;
        background-position-x: center;
    }
    #home .main {
        flex-direction: column;
        margin-left: 6%;
        margin-top: 32%;
    }
    #options.content {
        height: 170px;
        width: 330px;
    }
    #storage.content {
        margin-top: 13px;
        width: 330px;
        height: 200px;
        margin-left: 0;
    }
    #popup::after {
        display: none;
    }
    #popup {
        margin-left: 20px;
        margin-top: 80px;
    }
}

