html {
    background-color: hsl(229, 57%, 11%);
    background-image: url("/assets/bg-desktop.svg");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 100% 50vh;
}
body {
    height: 640px;
}
body fieldset {  
    border: none;
}
body div {
    display: inline-block;
    background-color: hsl(228, 56%, 26%);
}
body fieldset div#options {
    margin: 240px 10px 187px 190px;
    border-radius: 8px 90px 8px 8px;
    padding: 10px 200px 50px 10px;
}
body fieldset div#options img {
    display: inline-flex;
    margin: 27px 0px 18px 19px;
    
}
body fieldset div#options #icons {
    display:flex;
    list-style: none;
    margin-top: 11px;
    margin-left: 14px;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
}
body fieldset div#options #icons div {
    background-color: hsl(229, 57%, 11%);
    padding: 8px 9px;
    border-radius: 8px;
    margin-left: 10px;
}
body fieldset div#options #icons div img {
    margin: 2px 3px -4px 2px;
}